@import "~@blueprintjs/core/dist/variables";

.container {
  box-shadow: $pt-elevation-shadow-0;

  &:focus {
    outline: none;
  }
}

.bar {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  background: $white;
  height: 50px;
  color: $dark-gray5;

  &.dragging {
    .newTab {
      opacity: 0;
    }
  }
}

.tab {
  position: relative;
  max-width: 200px;
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 0 4px 0 15px;
  width: 100%;
  height: 100%;
  outline: none;
  transition: max-width 100ms ease-in, background 200ms ease-in;

  &:hover {
    color: $pt-intent-primary;
  }

  &:active {
    background: $light-gray4;
  }

  &.tabActive {
    color: $pt-intent-primary;

    .activeIndicator {
      border-bottom: 4px solid $pt-intent-primary;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  &.EditorTabsBar__tab--enter {
    max-width: 0;
  }

  &.EditorTabsBar__tab--enter.EditorTabsBar__tab--enter-active {
    max-width: 200px;
  }

  &.EditorTabsBar__tab--leave {
    max-width: 200px;
  }

  &.EditorTabsBar__tab--leave.EditorTabsBar__tab--leave-active {
    max-width: 0;
    transition: opacity 100ms ease-in;
  }
}

.tabelLabel {
  flex: 1;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
