$iconSize: 100px;

.NewTab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;

  .NewTab__icon {
    width: $iconSize;
    height: $iconSize;
  }
}
